.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background: var(--surface);
  box-shadow: 5px 2px 5px 1px #b4b4b4;
}

.brand {
  font-weight: 700;
  font-size: 1.05rem;
}

.userHeader{
  display: flex;
  align-items: center;
  gap: 10px;
}